# application.yml
server:
  port: 10010

spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
        - id: dept-service
          uri: lb://dept-service
          predicates:
            - Path=/depts/**
        - id: emp-service
          uri: lb://emp-service
          predicates:
            - Path=/emps/**
        - id: student-service
          uri: lb://student-service
          predicates:
            - Path=/students/**,/clazz/**
        - id: report-service
          uri: lb://report-service
          predicates:
            - Path=/reports/**